<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="{77777777-7777-7777-8B66-CD2C0DE7B294}" Name="SuppressUninstallErrors" Language="1033" Version="1.0.0.0"
           Manufacturer="test" UpgradeCode="{66B89DEA-C236-4D75-8B66-CD2C0DE7B294}">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="Test" Title="Test" Level="1" />

    <!-- Custom Stuff: Begin -->
    
      <Property Id="SUPPRESSERROR" Value="0" Secure="yes" />
    
      <CustomAction Id="TestVBScriptInline" Script="vbscript" Return="check">MsgBox "Zingaia!"</CustomAction>
    
      <InstallExecuteSequence>
        <Custom Action='TestVBScriptInline' After='InstallInitialize'>REMOVE="ALL" AND SUPPRESSERROR="0"</Custom>
      </InstallExecuteSequence>
    
    <!-- Custom Stuff: End -->
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="SuppressUninstallErrors">
          <Component Feature="Test">
            <File Source="C:\Windows\System32\Notepad.exe" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

  </Product>
</Wix>
